@font-face {
    font-family: 'Manrope-ExtraLight';
    src: url("../font/Manrope-ExtraLight.ttf");
}
@font-face {
    font-family: 'Manrope-Light';
    src: url("../font/Manrope-Light.ttf");
}
@font-face {
    font-family: 'Manrope-Medium';
    src: url("../font/Manrope-Medium.ttf");
}
@font-face {
    font-family: 'Manrope-Bold';
    src: url("../font/Manrope-Bold.ttf");
}
@font-face {
    font-family: 'Manrope-ExtraBold';
    src: url("../font/Manrope-ExtraBold.ttf");
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
:root {
	--color-1: #FEF9F0;
	--color-2: #C6AE8A;
    --color-3: #141414;
    --color-box: #212121;
    --font-family: 'Manrope', sans-serif;
    --font-family-EL: 'Manrope-ExtraLight', sans-serif;
    --font-family-L: 'Manrope-Light', sans-serif;

    /* --container-width: 1180px;
    --conteiner-padding-x: 10px; */

    --transition-duration: 0.2s;
}
body {
    background-color: var(--color-3);
    font-family: var(--font-family);
    color: var(--color-1);
    margin: 0;
}
a, button, input, textarea, svg * {
    transition-duration: var(--transition-duration);
}
a {
    color: var(--color-1);
    text-decoration: none;
}
a:hover {
    color: var(--color-2);
}
h1 {
    font-family: var(--font-family-L);
    font-weight: 300;
    font-size: 64px;
}
.container {
    max-width: 1400px;
    width: 100%;
    padding: 0 110px;
    margin: 0 auto;
}
.header {
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--container-width);
    column-gap: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: var(--font-family-EL);
    margin: 0 auto;
    height: 115px;
    border-bottom: 1px solid rgba(166,166,166,0.5);
}
.header-city {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.header-menu-list {
    display: flex;
    column-gap: 60px;
    margin-right: 29px;
}
.header-menu-list {
    list-style-type: none;
    line-height: 117%;
}
.header-menu-link {
    text-decoration: none;
}
.item-line {
    width: 73px;
    height: 1px;
    background-color: currentColor;
}
.header-button {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 86px;
    height: 17px;
    background-color: transparent;
    border: none;
    padding: 0;
}
.header-button-burger {
    margin-bottom: 11px;
    background-color: var(--color-1);
    width: 81px;
    height: 2px;
}
.header-button-burger:list-child {
    margin-bottom: 0px;
}
.header_title {
    max-width: 774px;
    line-height: 130%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    padding-top: 54px;
}
.header_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 61px;
}
.button_text {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-family: 'Manrope-ExtraLight';
    margin-right: 50px;
    padding: 0px 0px 2px 0px;
    border-bottom: 1px solid var(--color-1)
}
.button_text img {
    padding-left: 10px;
    padding-bottom: 2px;
}
.button_text:last-child {
    margin-right: 0px;
}
.header_slider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    justify-content: center;
    padding-top: 50px;
}
.promotion_title {
    margin: 0 auto;
    text-align: center;
    /* max-width: 925px; */
    padding-top: 150px;
}
.promotiom_slider {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1180px;
    width: 100%;
    height: 500px;
    background-color: var(--color-box);
    border-radius: 5px;
    margin-top: 70px;
}
.slide_box {
}
.one_box {
    padding-left: 22px;
}
.slide_title {
    padding-top: 30px;
    color: var(--color-2);
    max-width: 300px;
    margin: 0;
    padding-left: 17px;
}
.slide_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    column-gap: 10px;
    padding-top: 8px;
    padding-left: 17px;
}
.price_red {
    font-weight: 600;
    line-height: 130%;
    font-size: 24px;
    color: #E13032;
    margin: 0;
}
.price_through {
    font-family: var(--font-family-EL);
    line-height: 130%;
    font-size: 14px;
    text-decoration: line-through;
    margin: 0;
}
.slide_list {
    color: var(--color-1);
    font-size: 12px;
    max-width: 320px;
    font-weight: 250;
    padding-left: 20px;
    padding-top: 25px;
}
.slide_list_elem {
    padding: 0;
    margin: 0;
}
.slide_list_items {
}
.slide-shourum {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 10px;
    font-size: 16px;
    min-width: 600px;
    padding-top: 66px;
    padding-left: 18px;
    /* padding-top: 55px; */
}
.slide-shourum-text {
    font-weight: 200;
}
.slide-arrow {
}
.slide-shourum-item {
    font-weight: 600;
    color: var(--color-2);
}
.two_box {
    padding-top: 38px;
    padding-left: 50px;
}

.slide_button {
    background-color: transparent;
    border: none;
    padding: 0;
}
.promotiom_ellipse {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 30px;
    gap: 4px;
}
.promotion_ellipse_elem {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--color-1)
}
.activ {
    background-color: var(--color-2)
}
.onas {
    margin-bottom: 60px;
}
.onas_title {
    text-align: left;
    max-width: 920px;
    padding-top: 128px;
}
.onas_text_box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 27px;
    margin-right: 50px;
}
.onas_text {
    max-width: 560px;
    font-family: var(--font-family-EL);
    margin: 0;
    margin-bottom: 15px;
}
.onas_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
.card_item {
    width: 260px;
    height: 180px;
    background-color: var(--color-box);
    border-radius: 5px;
    padding-left: 30px;
    padding-top: 20px;
}
.card_title {
    font-family: var(--font-family-L);
    font-size: 36px;
    line-height: 130%;
    color: var(--color-2);
    margin: 0;
    padding-bottom: 5px;
}
.card_text {
    font-family: var(--font-family-EL);
    font-size: 16px;
    line-height: 130%;
    margin: 0;
}
